body {
        background-image: url('https://i.postimg.cc/6pmht26N/Picsart-24-07-31-23-26-07-700.jpg');
        background-size: cover;
        background-position: center;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
    }

    .container {
        padding: 30px;
        width: 350px;
        text-align: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }

    .logo img {
        width: 63px;
        height: 63px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group input {
        width: 100%;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-sizing: border-box;
        font-size: 16px;
        background: rgba(255, 255, 255, 0.8);
        color: #333;
        outline: none;
        transition: border-color 0.3s;
    }

    .form-group input::placeholder {
        color: rgba(51, 51, 51, 0.5);
    }

    .form-group input:focus {
        border-color: #1877f2;
    }

    .btn {
        background-color: #1877f2;
        color: #fff;
        padding: 15px 20px;
        border: none;
        border-radius: 24px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        transition: background-color 0.3s;
        margin-top: 5px;
    }

    .btn:hover {
        background-color: #1465c6;
    }

    .forgot-password {
        margin-top: 20px;          
        font-size: 14px;
        color: #000000;
        text-decoration: none;
    }

    .create-account {
        margin-top: 105px;
    }

    .create-account button {
        background-color: #fff;
        color: #1877f2;
        padding: 12px 20px;
        border: 1px solid #1877f2;
        border-radius: 24px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    .create-account button:hover {
        background-color: #e9ebee;
    }

    .meta {
        margin-top: 25px;
        font-size: 12px;
        color: #808080;
    }

    .meta a {
        color: #808080;
        text-decoration: none;
        margin: 0 5px;
    }

    .meta a:hover {
        text-decoration: underline;
    }

    .meta img {
        width: 60px;
        height: auto;
        opacity: 65%;
    }

    .sp {
        margin-top: 10px;
        font-size: 13.5px;
        color: #000000;
        opacity: 73.5%;
        text-decoration: none;
    }